.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: stretch;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___7NFhQ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: auto;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 16px;
}
.leftSide {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 0px;
  height: 100%;
  align-self: stretch;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.leftSide > * {
  grid-column: 4;
}
.topBar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 12px;
}
.topBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.topBar > :global(.__wab_flex-container) > *,
.topBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.topBar > :global(.__wab_flex-container) > picture > img,
.topBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.img__uaQzB {
  object-fit: cover;
  max-width: 100%;
}
.img__uaQzB > picture > img {
  object-fit: cover;
}
.lavenderButton__hul:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tzRmg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mHgRm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.progress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.progress > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.progress > :global(.__wab_flex-container) > *,
.progress > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.progress > :global(.__wab_flex-container) > picture > img,
.progress
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.phaseProgress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.formMain:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  object-fit: cover;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 4px;
}
.p1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField___6Z35C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iNbNs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qfHcE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__rL23D:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mvixs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ezPsx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__kPhGw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___6FNpA {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6FNpA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox___6FNpA > :global(.__wab_flex-container) > *,
.freeBox___6FNpA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6FNpA > :global(.__wab_flex-container) > picture > img,
.freeBox___6FNpA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton___3D0Vg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__mYl8T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qXf2B {
  padding-bottom: 0px;
}
.svg__uFqTl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jjXe:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rvO9Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jyL0N {
  padding-right: 0px;
}
.svg___3BMi8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__jkRu:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__zmGtE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gCbJg {
  padding-top: 0px;
}
.svg__ncbPx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.p2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__az1Uw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg___32ChU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b7XmZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__n8Hl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__jsK7U {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jsK7U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__jsK7U > :global(.__wab_flex-container) > *,
.freeBox__jsK7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jsK7U > :global(.__wab_flex-container) > picture > img,
.freeBox__jsK7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton__jPAl:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__v1Mgk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ihi5 {
  padding-bottom: 0px;
}
.svg__v6Mx5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__q8Uqh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ygDrM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__t5Wp9 {
  padding-right: 0px;
}
.svg__cb4TW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__bmpuF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__yn0O6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n20Ro {
  padding-top: 0px;
}
.svg__qZn2U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.p3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__fpcc4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
}
.formField__dciiW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__epiyj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lCrpW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__djWwM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__djWwM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__djWwM > :global(.__wab_flex-container) > *,
.freeBox__djWwM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__djWwM > :global(.__wab_flex-container) > picture > img,
.freeBox__djWwM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton__j9FOz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__kKwUf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nbvmO {
  padding-bottom: 0px;
}
.svg__dpliF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__bjOp2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iZ4T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Qc4E {
  padding-right: 0px;
}
.svg__sOkcg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__i4TS0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__f9S54 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kJpR0 {
  padding-top: 0px;
}
.svg__sGjSl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.p4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.formField__qtQcS:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
}
.formField__whD95:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.textInput5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__scSXk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hBNlE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__udHmV {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__udHmV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__udHmV > :global(.__wab_flex-container) > *,
.freeBox__udHmV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__udHmV > :global(.__wab_flex-container) > picture > img,
.freeBox__udHmV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton__rH3Ur:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__naaye {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cXfQ5 {
  padding-bottom: 0px;
}
.svg__sjKc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__iBAfv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fqCln {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vT2N {
  padding-right: 0px;
}
.svg__pzLaN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__i3Ls:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__bSu78 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xvKlx {
  padding-top: 0px;
}
.svg__xpxnJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.p5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__eWfnz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.textInput6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h4Bn2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wbdEt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__hU3G:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select5:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__o5S6P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__o5S6P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__o5S6P > :global(.__wab_flex-container) > *,
.freeBox__o5S6P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5S6P > :global(.__wab_flex-container) > picture > img,
.freeBox__o5S6P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton__t6UAd:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__awApH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dy5Yh {
  padding-bottom: 0px;
}
.svg__wAzYf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__j4VaJ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rUdfE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__a5ACp {
  padding-right: 0px;
}
.svg__yAxuX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__jtobX:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__eriGk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3Y41W {
  padding-top: 0px;
}
.svg__uDTkY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.p6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__kfKkn:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9X1T6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__takkv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__xrIUq:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.select6:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___46I7B {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___46I7B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox___46I7B > :global(.__wab_flex-container) > *,
.freeBox___46I7B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___46I7B > :global(.__wab_flex-container) > picture > img,
.freeBox___46I7B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.lavenderButton__yhA44:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fOSh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__epRz8 {
  padding-bottom: 0px;
}
.svg__imrKt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___2ULh1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg___036Af {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yOp74 {
  padding-right: 0px;
}
.svg__ajLdh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.darkTealButton__cxN3V:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ktPSd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cvTd5 {
  padding-top: 0px;
}
.svg__ev2Nu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.rightSide {
  display: grid;
  position: relative;
  align-content: flex-end;
  justify-items: center;
  width: 100%;
  background: var(--token-3RnRwnDU1iyA);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 20px;
  padding: 60px;
}
.rightSide > * {
  grid-column: 4;
}
.h1___6FuV {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-end;
  min-width: 0;
}
.freeBox__mRpTd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  object-fit: cover;
  min-width: 0;
  padding: 16px 24px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___3TtW9 {
  object-fit: cover;
  height: 40px;
}
.img___3TtW9 > picture > img {
  object-fit: cover;
}
.img__mjPjo {
  object-fit: cover;
}
.img__mjPjo > picture > img {
  object-fit: cover;
}
.img__b6FqO {
  object-fit: cover;
}
.img__b6FqO > picture > img {
  object-fit: cover;
}
.lavenderButton__fjj44:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9Qmc3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2ABv8 {
  padding-right: 0px;
}
.svg___1T16G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__z8W8O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.freeBox___5Ct8E {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 120px 200px;
}
.freeBox___5Ct8E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___5Ct8E > :global(.__wab_flex-container) > *,
.freeBox___5Ct8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Ct8E > :global(.__wab_flex-container) > picture > img,
.freeBox___5Ct8E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
.h1__ngjsu {
  width: 499px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  color: var(--token-p8loL9s6ave3);
  margin-right: 0px;
}
.text__hm4Hl {
  position: relative;
  width: 669px;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.button__eSv90:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ugVrw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__diN8O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
